/* .example-container {
    position: relative;
    height: 100%;
    background-color: yellow;
  } */

  .container {
    height: 91%;
    /* background-color: yellow; */
  }

  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    /* background: rgba(255, 0, 0, 0.5); */
  }
  
  .sidenav-button{
    width: 100%;
    height: 5%;
    /* background-color: red; */
  }

  .sidenav-button-clicked{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid blue;
    /* background-color: rgb(34, 218, 86); */
  }

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  