.center{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: auto;
   
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  mat-card-header {
    background-color: rgb(185, 185, 185);
    justify-content: center;
    color: white;
    height: 6%;
    width: auto;
    margin-bottom: 10%;
  }
 
  .card {
    height: 100%; 
}