<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Add vehicles to your account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="form" [formGroup]="addVehicleForm">
            <mat-label>Vehicle's Plate Number</mat-label>
            <mat-form-field appearance="outline">
                <input matInput formControlName="vehiclePlateNumber">
                </mat-form-field>
                <mat-label>Vehicle Type</mat-label>
                <mat-form-field appearance="outline"> 
                <mat-select formControlName="vehicleType">
                    <mat-option value="MOTORCYCLE">MOTORCYCLE</mat-option>
                    <mat-option value="CAR">CAR</mat-option>
                    <mat-option value="TRUCK">TRUCK</mat-option>
                </mat-select>
                </mat-form-field>
                <mat-label>Power Source</mat-label>
                <mat-form-field appearance="outline">
                <mat-select formControlName="electricVehicle">
                    <mat-option value="true">Electric</mat-option>
                    <mat-option value="false">Non Electric</mat-option>
                </mat-select>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="submitAddVehicleForm()">Add vehicle</button>
        </div>
    </mat-card-content>
  </mat-card>



