<div class="header h-center">
    <h3>Vehicles in your account</h3>
</div>

<div class="card">
    <div class="h-center" *ngIf="vehicles && vehicles.length==0">
        <h3>You do not have vehicles in your account yet.</h3>
        <button mat-stroked-button color="primary" [routerLink]="['add']">Add vehicle</button>
    </div>

    <mat-card *ngFor="let vehicle of vehicleObserver | async" class="tile">
        <mat-card-header> 
        <div mat-card-avatar *ngIf="vehicle.vehicleType === 'MOTORCYCLE' " class="card-header-motorcycle-image"></div>
        <div mat-card-avatar *ngIf="vehicle.vehicleType === 'CAR' " class="card-header-car-image"></div>
        <div mat-card-avatar *ngIf="vehicle.vehicleType === 'TRUCK' " class="card-header-truck-image"></div>
        <mat-card-title>{{ vehicle.plateNumber }}</mat-card-title>
        <mat-card-subtitle>{{vehicle.vehicleType}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <p>{{vehicle.isElectric ? 'Electric' : 'Non Electric'}}</p>
        </mat-card-content>
        <mat-card-content>
        <p>{{vehicle.isParked ? 'Parked' : 'Not Parked'}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" [routerLink]="['./', vehicle.plateNumber]"  >View</button>
        </mat-card-actions>
    </mat-card>
</div>
<mat-paginator *ngIf="vehicles && vehicles.length>0" style="display: flex; justify-content: center;" [pageSizeOptions]="[1, 2, 3]"></mat-paginator>