<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
      <mat-nav-list>
          <mat-list-item routerLink="/admin-dashboard">
            <table>
              <tr>
                <td>
                  <mat-icon>dashboard</mat-icon>
                </td>
                <td>
                  <span>Admin Dashboard</span>
                </td>
              </tr>
            </table>
          </mat-list-item>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
              <mat-expansion-panel-header>
                  Users
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item [routerLink]="['users']">
                    <table>
                      <tr>
                        <td>
                          <mat-icon>view_array</mat-icon>
                        </td>
                        <td>
                          <span>View all</span>
                        </td>
                      </tr>
                    </table>
                  </a>
                  <!-- <a mat-list-item [routerLink]="['users/validated']">
                    <table>
                      <tr>
                        <td>
                          <mat-icon>view_array</mat-icon>
                        </td>
                        <td>
                          <span>Validated</span>
                        </td>
                      </tr>
                    </table>
                  </a> -->
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 